h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

body {
    margin: 2em;
}

@keyframes expander {
    0% {
        max-height: 0;
    }
    100% {
        max-height: 1em;
    }
}

.ngfor-animation {
    animation: expander 300ms;
}
