<!--<h1 ui-sref="input-list">My ng2js App</h1>-->
<!--<a ui-sref="about" uiSrefActive="active">About</a>-->

<md-card>
    <md-card-header>
        <!--<md-card-avatar>-->
            <i class="material-icons">menu</i>
        <!--</md-card-avatar>-->
        <!--<md-card-header-text>-->
            <span class="md-title">my ng2js app</span>
            <!--<span class="md-subhead">subhead</span>-->
        <!--</md-card-header-text>-->
    </md-card-header>
    <md-card-content>
        <input-list></input-list>
    </md-card-content>
</md-card>

<!--<about></about>-->

<!--<ui-view></ui-view>-->
